<h1 ng-show="someone === 'all'" style="text-align: center">Добавить новость</h1>
<h1 ng-show="someone === 'admin'" style="text-align: center">Добавить заметку для администраторов</h1>
<br>
<b>Заголовок (обязательно для заполнения)</b><br>
<input class="form-control" type="text" size="100" ng-model="news.title"> <br><br>
<b>Текст новости</b><br>
<!--<textarea rows="15" cols="101" ng-model="news.text"></textarea> <br>-->
<text-angular class="wysiwyg" ng-model="news.text"></text-angular>

<br>

<input class="page_button" type = "file" multiple file-model = "news.files"
       accept="image/*,
   application/msword,
   application/vnd.openxmlformats-officedocument.wordprocessingml.document,
   application/vnd.ms-excel,
   application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
   text/plain"
/>

<div ng-repeat="file in news.files as newsFiles">
    <div style="vertical-align: middle; display: inline-block">
        {{file.name}} - {{(file.size/1048576).toFixed(3)}} MБ
    </div>
    <!--<div style="vertical-align: middle; display: inline-block">-->
        <!--<button ng-click="removeOne(newsFiles, $index)">Remove element</button>-->
        <!--<img src="/assets/images/DeleteButton.png" ng-click="removeOne(filesArray, $index)">-->
    <!--</div>-->
</div>
<p><small>Можно прикреплять файлы изображений, документы Word и Excel общим размером не более 3 МБ</small></p>
<br>
<br>

<button class="pages_buttons" ng-click="saveNews()">Сохранить</button>
<a ng-href="/#/news/for/{{ someone }}" class="pages_buttons_del">Отменить</a>

