<br><br>

<b>Заголовок (обязательно для заполнения)</b><br>
<input type="text" size="100" ng-model="newsEdit.title"> <br><br>
<b>Текст новости</b><br>
<textarea rows="15" cols="101" ng-model="newsEdit.text"></textarea> <br>

<br>

<p ng-show="newsEdit.oldFiles.length > 0"><b>Прикрепленные ранее файлы:</b></p>

<div ng-repeat="file in newsEdit.oldFiles">
    <div ng-show="!file.forDelete">
        <div style="vertical-align: middle; display: inline-block">
            {{file.name}} - {{(file.size/1048576).toFixed(3)}} MБ -
        </div>
        <div style="vertical-align: middle; display: inline-block">
            <img src="/assets/images/DeleteButton.png" ng-click="file.forDelete = true">
        </div>
    </div>
</div>

<p><b>Прикрепить файлы:</b></p>
<input class="page_button" type = "file" multiple file-model = "newsEdit.newFiles"
   accept="image/*,
   application/msword,
   application/vnd.openxmlformats-officedocument.wordprocessingml.document,
   application/vnd.ms-excel,
   application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
   text/plain"
/>
<p><small>Можно прикреплять файлы изображений, документы Word и Excel общим размером не более 3 МБ</small></p>

<div ng-repeat="file in newsEdit.newFiles">
    {{file.name}} - {{(file.size/1048576).toFixed(3)}} MБ
</div>

<br>
<br>

<button class="pages_buttons" ng-click="updateNews()">Сохранить</button>
<button class="pages_buttons_del" ng-click="deleteNews(newsEdit.id)">Удалить</button>
<a class="pages_buttons_del" href="/#/news" class="pages_buttons">Отменить</a>