<br><br>

<h1>{{newsDetail.title}}</h1> <br>

<div class="full_text" ng-bind-html="newsDetail.text"></div>
<br>

<p ng-show="newsDetail.files.length > 0">Прикрепленные файлы:</p>

<div ng-repeat="file in newsDetail.files">

    <img ng-src="data:{{ file.mimeType }};base64,{{ file.file }}"
         ng-show="file.mimeType.indexOf('image') + 1"
         style="max-width: 800px;" >
    <br>
    {{file.name}} - {{(file.size/1048576).toFixed(3)}} MБ - <a href ng-click="download(file.id)">скачать</a>
    <hr>
</div>

<br>
<div class="created_on">
    <p>
        Размещено: {{newsDetail.createdOn | date:'HH:mm / yyyy-MM-dd'}} <br>
        Последнее редактирование: {{newsDetail.lastEdit  | date:'HH:mm / yyyy-MM-dd'}}
    </p>
</div>
<br>


<a ng-show="authenticated" class="pages_buttons" ng-href="/#/news/newsEdit/{{newsDetail.id}}">Изменить</a>
<a ng-href="/#/news/for/{{ newsDetail.someone }}" class="pages_buttons_del">Назад</a>

<hr>
